params {
    input           = null
    outdir          = 'results'
    fasta           = null
    fai             = null
    dict            = null
    known_sites     = null
    known_sites_tbi = null
}

profiles {
    docker {
        docker.enabled = true
    }
    test {
        params.input           = "${projectDir}/assets/samplesheet_test.csv"
        params.outdir          = 'results_test'
        params.fasta           = "${projectDir}/assets/test_data/chr20.fa"
        params.fai              = "${projectDir}/assets/test_data/chr20.fa.fai"
        params.dict             = "${projectDir}/assets/test_data/chr20.dict"
        params.known_sites      = "${projectDir}/assets/test_data/known_sites.vcf.gz"
        params.known_sites_tbi  = "${projectDir}/assets/test_data/known_sites.vcf.gz.tbi"
        process.cpus            = 2
        process.memory          = '3 GB'
    }
}
